<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WPFZOOManager.Properties.Settings.TutorialDBConnectionString"
            connectionString="Data Source=LAPTOP-SC4CGVL9;Initial Catalog=TutorialDB;Persist Security Info=True;User ID=sa;Password=6487"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>